{% extends "set_app/set_app_base.html" %}

{% block body_block %}
    <h3>
        {%  if order_in_form.order_type.value == 'IN' %}
            Create INBOUND order
        {%  elif order_in_form.order_type.value == 'OU' %}
            Create OUTBOUND order
        {%  elif order_in_form.order_type.value == 'TR' %}
            Create TRANSFER order
        {% endif %}
    </h3>
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        <hr>
        {{ order_in_form.customer.label }}:{{ order_in_form.customer }}
        {{ order_in_form.permit_type.label }}:{{ order_in_form.permit_type }}
        {{ order_in_form.permit_number.label }}:{{ order_in_form.permit_number }}

        {{ order_in_form.origin_destination.label }}:{{ order_in_form.origin_destination }}
        {{ order_in_form.billway_number.label }}:{{ order_in_form.billway_number }}
        {{ order_in_form.transport_company.label }}:{{ order_in_form.transport_company }}
        {{ order_in_form.sender_receiver.label }}:{{ order_in_form.sender_receiver }}
        {{ order_in_form.receiving_customer.label }}:{{ order_in_form.receiving_customer  }}
        {{ order_in_form.notes.label }}:
        <textarea name="notes" cols="40" rows="10" maxlength="2048" id="id_notes">some notes</textarea>
        <hr>
        {{ driver_form }}
        <hr>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }}
            <hr>
        {% endfor %}
        <br>
        <input type="submit" class="btn btn-primary" value="Submit">
        <a href="{% url 'set_app:dashboard' %}" class="btn btn-warning" role="button">cancel</a>
    </form>
{% endblock %}
