{% extends "set_app/base/set_app_base.html" %}
{% load static %}
{% block body_block %}
    <br>
    <div class="card card-body">
        <h4>Currently viewing {{ header }}</h4>
    </div>
    <br>
    <div class="card card-body">

        <div class="button-group">
            <a href="{% url 'set_app:active_product_list' %}" class="btn btn-primary btn-md" role="button">Active</a>
            <a href="{% url 'set_app:product_create' %}" class="btn btn-warning btn-sm" role="button">+</a>

            <a href="#" class="btn btn-primary btn-md" role="button">Desktops</a>
            <a href="#" class="btn btn-warning btn-sm" role="button">+</a>

            <a href="#" class="btn btn-primary btn-md" role="button">Mobile</a>
            <a href="#" class="btn btn-warning btn-sm" role="button">+</a>
        </div>
    </div>
    <br>
    <div class="card card-body">
        <form method='GET'>
            {{ myFilter.form }}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
    <br>
    <div class="card card-body">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>code</th>
                <th>barcode</th>
                <th>name</th>
                <th>description</th>
                <th>brand</th>
                <th>status</th>
                <th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.pk }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.status }}</td>
                    <td>
                        <a href="{% url 'set_app:product_update' pk=item.pk %}" class="btn btn-warning btn-sm"
                           role="button">Edit</a>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#delete-dialog-{{ item.pk }}">
                            X
                        </button>
                    </td>

                    <!-- Modal -->
                    <div class="modal fade" id="delete-dialog-{{ item.pk }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete? {{ item.pk }}
                                </div>
                                <div class="modal-footer">
                                    <form action="{% url 'set_app:product_delete' pk=item.pk %}"
                                          method="post">{% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}