{% extends "set_app/basic_app_base.html" %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Welcome to list of all warehouse detail</h1>
        <h2>Warehouse details:</h2>
        <p>Name: {{ warehouse_detail.name }}</p>
        <p>Tel 1: {{ warehouse_detail.tel1 }}</p>
        <p>Tel 2: {{ warehouse_detail.tel2 }}</p>
        <p>Address: {{ warehouse_detail.Address }}</p>
        <p>Postcode: {{ warehouse_detail.postcode }}</p>
        <h3>Customers:</h3>
    {% for customer in warehouse_detail.customers.all %}
        <p>{{ customer.entity }} named {{ customer.first_name }} {{ customer.lasy_name }} {{ customer.company_name }}</p>
    {% endfor %}
    </div>
    <div class="container">
        <p><a class="btn btn-warning" href="{% url 'set_app:warehouse_update' pk=warehouse_detail.pk %}">Update</a>
        <a class="btn btn-danger" href="{% url 'set_app:warehouse_delete' pk=warehouse_detail.pk %}">Delete</a></p>
    </div>


{% endblock %}