<!doctype html>
<head>
    <meta charset="utf-8">
    <title>kardex کاردکس</title>
    <meta name="description" content="stock kardex"/>
    <meta name="author" content="Setayesh Warehouse انبار ستایش"/>
</head>
<body>
<div class="container">
    <h3>Kardex report گزارش کاردکس</h3>
    <table>
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">DateTime</th>
            <th scope="col">Order no</th>
            <th scope="col">Invalidated</th>
            <th scope="col">Permit no</th>
            <th scope="col">Product code</th>
            <th scope="col">Product barcode</th>
            <th scope="col">Product name</th>
            <th scope="col">Change</th>
            <th scope="col">Total</th>
        </tr>
        </tbody>
        <tbody>
        {% for kardex in kardex_filtered_list %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>{{ kardex.customer }}</td>
                <td>{{ kardex.customer.created|date:"d/m/Y G:i" }}</td>
                <td>{{ kardex.order_item.order.id }}</td>
                <td>{{ kardex.invalidated|date:"d/m/Y G:i" }}</td>
                <td>{{ kardex.order_item.order.permit_number }}</td>
                <td>{{ kardex.product.code }}</td>
                <td>{{ kardex.product.barcode }}</td>
                <td>{{ kardex.product.name }}</td>
                <td>{{ kardex.change }}</td>
                <td>{{ kardex.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>