{% extends 'set_app/base/set_app_base.html' %}

{% block body_block %}

    {% include 'set_app/dashboard/status.html' %}

    <br>

    <div class="row">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'set_app:customer_create' %}">Create Customer</a>
                <table class="table table-sm">
                    <tr>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Entity type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Warehouse</th>
                    </tr>
                    </tr>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ customer.entity_type }}</td>
                            {% if customer.entity_type == "IN" %}
                                <td><a href={% url 'set_app:customer_more_detail' pk=customer.pk %}>{{ customer.first_name }} {{ customer.last_name }}</a></td>
                            {% else %}
                                <td><a href={% url 'set_app:customer_more_detail' pk=customer.pk %}>{{ customer.company_name }}</a></td>
                            {% endif %}
                            <td><a href={% url 'set_app:warehouse_detail' pk=customer.warehouse.pk %}>{{ customer.warehouse.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <h5>LAST 5 ORDERS</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href={% url 'set_app:order_create' %}>Create Order</a>
                <table class="table table-sm">
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Warehouse</th>
                        <th>Customer</th>
                        <th>Permit</th>
                        <th>Timestamp</th>
                    </tr>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td><a href={% url 'set_app:order_detail' pk=order.id %}>{{ order.id }}</a></td>
                            <td>{{ order.order_type }}</td>
                            <td><a href={% url 'set_app:warehouse_detail' pk=order.warehouse.pk %}>{{ order.warehouse }}</a></td>
                            <td><a href={% url 'set_app:customer_more_detail' pk=order.customer.pk %}>{{ order.customer }}</a></td>
                            <td>{{ order.permit_type }}:{{ order.permit_number }}</td>
                            <td>{{ order.created|date:"d/m/y H:i" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}

