<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-customers">
			  	<div class="card-header">
			  		<h5 class="card-title">Customers</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ total_customers }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ total_orders }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-transactions">
			  	<div class="card-header">
			  		<h5 class="card-title">Transactions</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">300</h3>
			  	</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-units-in">
			  	<div class="card-header">
			  		<h5 class="card-title">Units In</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">1,000</h3>
			  	</div>
			</div>
		</div>
	</div>
        <div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-units-out">
			  	<div class="card-header">
			  		<h5 class="card-title">Units Out</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">1,500</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>