{% load static %}
<meta charset="UTF-8">
<title>SetWMS</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/vendors.css' %}">



{#     {# Adds date-picker required JS and CSS #}
{#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>#}
{#<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />#}
{#<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>#}
{#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script> #}
{#    <script src="{% static 'js/formset.js' %}"></script>#}
{#		<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">#}
{#		<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>#}
